*,*::after,*::before{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0; 
}
body{
    background-image: radial-gradient(circle at 4% 15%, #eee 0%, #eee 1.5%, transparent calc(1.5% + 1px), transparent 100%), radial-gradient(circle at 4% 50%, #eee 0%, #eee 1.5%, transparent calc(1.5% + 1px), transparent 100%), radial-gradient(circle at 4% 85%, #eee 0%, #eee 1.5%, transparent calc(1.5% + 1px), transparent 100%), linear-gradient(90deg, transparent 0%, transparent 10%, #DB676C 10%, #DB676C calc(10% + 2px), transparent calc(10% + 2px), transparent 100%), linear-gradient(180deg, white 12%, transparent 12%), repeating-linear-gradient(180deg, #91C1E1 0px, #91C1E1 1px, transparent 1px, transparent 30px), linear-gradient(white,white);
    width: 100%;
    height: 100vh;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Architects Daughter', cursive;
    color: hsl(0, 0%, 0%);
}

.container{
    position: absolute;
    left:50%;
    transform: translate(-50%,0%);
    top:18%;
    width:auto;
}
h3{
    margin: 2px;
}
.heading{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;

}
.desc{
    color: hsla(0, 100%, 0%, 0.65);
    text-align: center;
    margin: 0px;
}
i{
    cursor: pointer;
}
.input-area{
    border: 2px solid black ;
    padding: 0;
    outline: black;   
    background-color: transparent;
    margin: 1rem 0.5rem 0rem 0rem;
    padding: 1rem 0.5rem 1rem 1.5rem
   
}
.input-area:focus{
    border:2px solid  #1F75FE;
}
.input-area[value]{
    font-weight: 700;
}
form{
    height: auto;
}
.input{
    width: 20rem;
    border-radius: 2rem;

}
.show-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1.6rem 0rem ;
}
.each-item{
    display: grid;
    grid-template-columns: 85% 15%;
}
.each-item:hover{
    color: #1F75FE;
    font-weight: 500;
}
.todo-btn{
    display: flex;
    justify-content: flex-end;
    width:5rem;
}
.todo-btn i{
    margin: 5px;
}
.fas.fa-plus-circle:hover{
    color: #00308F;
}
.fas.fa-edit:hover{
    color: #568203;
}
.far.fa-trash-alt:hover{
    color: #8B0000;
}
.submit-btn{
    width: 12rem;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    background-color: hsl(0, 100%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.submit-btn:hover{
    background-color: hsla(0, 100%, 20%, 0.85);
}
@media (max-width:800px) {
    .input{
        width: 15rem;
    }
}
@media (max-width:500px) {
    .input{
        width: 10rem;
    }
}